user_ocid        = "ocid1.user.oc1..aaaaaaaa"
tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaaa"
fingerprint      = "93:xx:xx:xx:zz:59"
private_key_path = "/home/creio/.oci/oci_api_key.pem"
compartment_ocid = "ocid1.tenancy.oc1..aaaaaaaa"
region           = "eu-frankfurt-1"
## https://docs.oracle.com/en-us/iaas/Content/Compute/References/computeshapes.htm
# instance_shape   = "VM.Standard.E2.1.Micro"
instance_shape   = "VM.Standard.A1.Flex"
subnet_ocid      = "ocid1.subnet.oc1.eu-frankfurt-1.aaaaaaaa"
## https://docs.oracle.com/en-us/iaas/images/
image_ocid       = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa"
ssh_public_key   = "~/.ssh/id_rsa.pub"
ssh_pvt_key      = "~/.ssh/id_rsa"
